[submodule "isaac_ros-dev/src/velodyne"]
	path = isaac_ros-dev/src/velodyne
	url = https://github.com/ros-drivers/velodyne
	branch = ros2
[submodule "isaac_ros-dev/src/twist_mux"]
	path = isaac_ros-dev/src/twist_mux
	url = https://github.com/ros-teleop/twist_mux
[submodule "isaac_ros-dev/src/web_video_server"]
	path = isaac_ros-dev/src/web_video_server
	url = https://github.com/RobotWebTools/web_video_server
	branch = ros2
[submodule "isaac_ros-dev/src/async_web_server_cpp"]
	path = isaac_ros-dev/src/async_web_server_cpp
	url = https://github.com/fkie/async_web_server_cpp
[submodule "isaac_ros-dev/src/realsense-ros"]
	path = isaac_ros-dev/src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros

[submodule "isaac_ros-dev/src/isaac_ros_common"]
	path = isaac_ros-dev/src/isaac_ros_common
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_common

[submodule "isaac_ros-dev/src/teleop_twist_joy"]
	path = isaac_ros-dev/src/teleop_twist_joy
	url = https://github.com/ros2/teleop_twist_joy
	branch = humble

